<!DOCTYPE html>
<head>
  <% full_name = @person[:first] + ' ' + @person[:last] %>
  <title>HAPPY BIRTHDAY <%= full_name %>!!!</title>
  
  <style type="text/css">@import "birthday.css";</style>
  
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-8311622-5']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
</head>
<body>
  <img id="photo" src="person.jpg" alt="<%= full_name %>" title="The one and only, folks!"/>
  <p class="first">Today is <span class="name"><%= full_name %></span>&apos;s birthday, and you know what that means: lots of <%= @words[0] %>
    with <%= @words[1] %>. You see, <%= full_name %> has something of a <%= @words[2] %> when it comes to <%= @words[3] %> a <%= @words[4] %>: He
    always makes sure that <%= @words[5] %> is <%= @words[6] %>. One birthday, he <%= @words[7] %> ran out of <%= @words[8] %> so the
    <%= @words[9] %> decided to just <%= @words[10] %> <%= @words[11]%>! But it was O-K because everyone still <%= @words[12]%> a good
    <%= @words[13]%> in the <%= @words[14] %>.
  </p>
  <p class="conclusion">I guess you could say that <span class="name"><%= full_name %> is a real <%= @words[15] %> <%= @words[16] %>!!</p>
</body>
</html>